.profile {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: stretch;
    justify-content: start;
    height: 100%;
    width: 410px;
    padding: 74px 0 70px;
}

.profile__container {
    display: flex;
    flex-direction: column;
}

.profile__container_margin {
    margin-bottom: calc(220px - 33px);
}

.profile__form {
    margin: 0 0 -115px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0 0 calc(123px - 17px) 0;
}

.profile__info {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.profile__info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 0;
    border-bottom: 1px solid #424242;
}

.profile__info-item:last-of-type {
    border: none;
}

.profile__text {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;

}

.profile__form-btn {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    background-color: #202020;
    border: none;
    margin: 16px 0 0;
    padding: 0;
}

.profile__btn-signout {
    color: #EE3465;
}

@media(max-width:800px) {
    .profile {
        padding: 236px 0 269px;
    }

    .profile__title {
        margin: 0 0 calc(96px - 17px) 0;
    }

    .profile__container_margin {
        margin-bottom: calc(210px - 33px);

    }
}

@media(max-width:500px) {
    .profile {
        padding: 70px 0 40px;
        width: 260px;
    }

    .profile__title {
        margin: 0 0 calc(80px - 17px) 0;
    }

    .profile__container_margin {
        margin-bottom: calc(379px - 33px);

    }

    .profile__form-btn {
        font-size: 12px;
        line-height: 15px;
    }
}