.error-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
}

.error-popup__container {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-color: #202020;
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-popup__title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
}

.error-popup__btn {
    margin: 30px 0 0;
    font-size: 15px;
    padding: 8px 20px;
    background-color: #3DDC84;
    border-radius: 3px;
    color: #000;
}